@page
@model TestingEyes.Pages.Maruti.IndexModel
@{
}

<div class="row">
    <form method="post" role="form" class="form-horizontal" style="padding-top:40px; align-content:end">

        <div class="col-md-8" style="padding-right:100px">
            
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button asp-page-handler="LogOff" class="btn btn-default" id="btnlogoff" style="background-color:white; border-color:black; color:dodgerblue"><b>Log Out</b></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" value="back" id="btnback" class="btn btn-default" onclick="location.href='Car'" title="Back to menu" style="background-color:white; border-color:black; color:dodgerblue; font:bold" />
    </form>
</div>

<div class="jumbotron" style="background-color:black">
    <div class="col-md-10">

    </div>
    <div>

        <a asp-page="/Samsung/Index" id="idSwiftMaruti" style="width:100%;">
            <img src="@Url.Content("images/Marutiprice.png")" style="width:80%" />
        </a>
        
    </div>
</div>
